/* --------css for signup1----------- */
.page-display {
    display: grid;
    grid-template-columns: 1.6fr 1fr;

}

.header {
    padding: 109px 0 0;
}

.input-field:focus {
    outline: none;

}

.head-text {
    margin: 120px 0 120px 0;
    font-weight: bold;
}

.input-field {
    border-bottom: 2px solid rgba(177, 171, 171, 0.993);
    padding-left: 10px;
    width: 100%;
}

.input-field1 {
    margin-bottom: 40px;
}

.input-field2 {
    margin-top: 44px;
    margin-bottom: 40px;
}


.box {
    margin: 19px 30px 11px 0px;

}

.box-inside {
    margin: 0 74px 0 74px;
}

.arrow-logo {
    font-size: 24px;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: #3B8BEA;
    border: 1px solid #3B8BEA;
}

.button:hover {
    border: 1px solid #3B8BEA;
    background-color: white;
    color: #3B8BEA;
}

.btn-global {
    padding: 0 10px 0 10px;
}

.login {
    color: #3B8BEA;
    border-bottom: 1px solid #3B8BEA;
}

.end-section {
    margin: 100px 0 20px 20px;
}

.back {
    color: #767676;
    font-size: 14px;
    font-weight: bold;
}

/* ---------------------css for signup2 page *-----------------------------*/
.signup2field {
    display: flex;
}

.field1 {
    width: 20%;
    border-bottom: 2px solid rgba(177, 171, 171, 0.993);
    padding-left: 5px;
}

.field1:focus,
.field2:focus {
    outline: none;
}

.field2 {
    width: 80%;
    border-bottom: 2px solid rgba(177, 171, 171, 0.993);
    margin-left: 5px;
    padding-left: 5px;
}

/* ---------------------css for signup2 page *-----------------------------*/
.final-signup {
    margin-bottom: 100px;
}